In [2]:
import pandas as pd

initialproduction = pd.read_csv('INITIALPRODUCTION.csv')
production = pd.read_csv('PRODUCTION.csv')
chemicals = pd.read_csv('CHEMICALS.csv')
wellheader = pd.read_csv('WELLHEADER.csv')
prodflaring = pd.read_csv('PRODUCTIONFLARING.csv')
operator = pd.read_csv('OPERATOR.csv')

prodflaringcleaned = pd.read_csv('prodflaring_cleaned_data.csv')
merged_operator_name = pd.read_csv('operatorName.csv')

In [5]:
initialproduction.head()

,API Number,Initial Production - 30 Days,Initial Production - 90 Days,Initial Production - Half-Year,Initial Production - Year,ID,OilAndGasGroup
0,33-053-04634-0000,644.387085,587.550903,469.602753,362.840027,868553,Light Oil
1,33-053-04634-0000,206.489243,117.744446,109.351944,86.572418,868554,Rich Gas
2,33-053-04650-0000,733.974182,484.655548,346.971008,236.386124,868801,Light Oil
3,33-053-04650-0000,237.271500,186.770676,134.202591,95.206291,868802,Rich Gas
4,33-053-04600-0000,595.380005,488.553345,428.140106,345.219177,870179,Light Oil

In [6]:
initialproduction.size

29771

In [7]:
production.head()

,Id,API Number,Year,Month,OilAndGasGroup,Production,CumulativeCalendarMonths,CumulativeCalendarYears,Production Phase,Production Forecast Group,OilAndGasCategory
0,120940305,33-053-05925-0000,2015,8,G,357.833340,4,0,L,R,G
1,120941158,33-053-05640-0000,2015,11,G,4853.000000,11,0,L,R,G
2,120942486,33-053-04633-0000,2015,11,G,114.166660,17,1,L,R,F
3,120944833,33-053-05091-0000,2015,8,O,5190.000000,10,0,L,R,O
4,120952678,33-053-05551-0000,2015,11,G,52.833332,11,0,L,R,F

In [8]:
production.size

8800044

In [9]:
merged_df = pd.merge(production, initialproduction, on='API Number', how='inner')

In [10]:
merged_df.head()

,Id,API Number,Year,Month,OilAndGasGroup_x,Production,CumulativeCalendarMonths,CumulativeCalendarYears,Production Phase,Production Forecast Group,OilAndGasCategory,Initial Production - 30 Days,Initial Production - 90 Days,Initial Production - Half-Year,Initial Production - Year,ID,OilAndGasGroup_y
0,120940305,33-053-05925-0000,2015,8,G,357.83334,4,0,L,R,G,1062.350586,889.223694,860.591187,686.823608,1091683,Light Oil
1,120940305,33-053-05925-0000,2015,8,G,357.83334,4,0,L,R,G,228.381180,191.679993,166.647583,136.906464,1091684,Rich Gas
2,118141057,33-053-05925-0000,2015,4,O,12901.00000,1,0,N,R,O,1062.350586,889.223694,860.591187,686.823608,1091683,Light Oil
3,118141057,33-053-05925-0000,2015,4,O,12901.00000,1,0,N,R,O,228.381180,191.679993,166.647583,136.906464,1091684,Rich Gas
4,120940273,33-053-05925-0000,2015,8,O,24554.00000,4,0,L,R,O,1062.350586,889.223694,860.591187,686.823608,1091683,Light Oil

In [11]:
merged_df.size

27184292

In [12]:
merged_df.to_csv('merged_prod.csv', index=False)

In [13]:
merged_df1 = pd.merge(wellheader, prodflaring, on='API Number', how='inner')

In [14]:
merged_df1.size

35351000

In [15]:
len(merged_df1.columns)

230

In [16]:
column_names = merged_df1.columns
print(column_names)

Index(['Id_x', 'API Number', 'Well Name', 'Texas District', 'Lease Name',
       'Lease Number', 'Number of Wells in Lease', 'Formation', 'Field',
       'Well Direction',
       ...
       'Land Type Category', 'Mineral Rights Type', 'Simul Frac Completion',
       'Wellhead Breakeven Oil Price', 'Wellhead Breakeven Gas Price', 'Id_y',
       'Year', 'Month', 'FlaredGas_MCf', 'GrossGasProduction_MCf'],
      dtype='object', length=230)

In [17]:
# Assuming you have already created and populated the 'merged_df' DataFrame
column_names = merged_df1.columns

# Split the column names into chunks of 10 for printing
chunk_size = 10
for i in range(0, len(column_names), chunk_size):
    chunk = column_names[i:i + chunk_size]
    print(chunk)

Index(['Id_x', 'API Number', 'Well Name', 'Texas District', 'Lease Name',
       'Lease Number', 'Number of Wells in Lease', 'Formation', 'Field',
       'Well Direction'],
      dtype='object')
Index(['Well Type', 'Spud Date', 'Completion Date', 'Initial Test Date',
       'Production Start Date', 'Peak Production Date', 'Permit Issue Date',
       'Last Production Date', 'Refracturing Date', 'Well Status'],
      dtype='object')
Index(['Last Update Date', 'Frac Focus Version', 'Pad ID',
       'Reported Production Months', 'Reported Well Type', 'First Record Date',
       'Number of Casing Strings Group', 'Number of Casing Strings Category',
       'Pad State', 'Parent Child Classification'],
      dtype='object')
Index(['Pad Sequence Completion', 'Pad Segment Completion',
       'Pad Sequence Spud', 'Pad Segment Spud', 'Land Type', 'Choke Size',
       'Well Spacing', 'Longitude', 'Latitude',
       'Reported 24-h Test Water Production'],
      dtype='object')
Index(['Reported 24-h Test Production', 'Maximum Treatment Pressure',
       'Maximum Treatment Rate', 'Proppant (Thousand pounds)', 'Ground Level',
       'Total Measured Depth', 'True Vertical Depth', 'Lateral Length',
       'Drilling Days', 'Frac Stages (Count)'],
      dtype='object')
Index(['BottomHole Longitude', 'BottomHole Latitude',
       'Surface Lateral Projection', 'Upper Perforation', 'Lower Perforation',
       'Perforated Length', 'Distance Closest Well 2D (Feet)',
       'Distance Closest Well 3D (Feet)', 'FK_NASGeography', 'FK_NASOperator'],
      dtype='object')
Index(['RE ID', 'Asset', 'FK_NASDataQuality', 'Light Oil Content Group',
       'Light Oil Content Category', 'Light Oil Content Detail',
       'Initial Production Group', 'Initial Production Category',
       'Initial Production Detail', 'FK_NASREAnalysis'],
      dtype='object')
Index(['Spud Date Reporting Group', 'Completion Date Reporting Group',
       'Production Start Date Reporting Group', 'TVD Group', 'TVD Category',
       'TVD Detail', 'Well Origin', 'TMD Group', 'TMD Category', 'TMD Detail'],
      dtype='object')
Index(['Lateral Length Group', 'Lateral Length Category',
       'Lateral Length Detail', 'Service Provider',
       'Service Provider Confidence', 'Initial Light Oil Content Group',
       'Initial Light Oil Content Category',
       'Initial Light Oil Content Detail', 'FK_NASBreakevenOilPrice',
       'FK_NASBreakevenGasPrice'],
      dtype='object')
Index(['API Group', 'API Category', 'API Detail', 'Gas Gatherer',
       'Liquids Gatherer', 'Proppant Type Group', 'Proppant Type Category',
       'Proppant Type Detail', 'Life Cycle Group', 'Life Cycle Category'],
      dtype='object')
Index(['Life Cycle Detail', 'Acreage Grade Group', 'Acreage Grade Category',
       'Acreage Grade Detail', 'Frac Job Type Group', 'Frac Job Type Category',
       'Frac Job Type Detail', 'Proppant Intensity Group',
       'Proppant Intensity Category', 'Proppant Intensity Detail'],
      dtype='object')
Index(['Fluid Intensity Group', 'Fluid Intensity Category',
       'Fluid Intensity Detail', 'FK_NASLocation', 'Distance 3D Group',
       'Distance 3D Category', 'Distance 3D Detail',
       'Days Since Frac Spread On Location', 'Days Since Rig On Location',
       'Drilling Contractor'],
      dtype='object')
Index(['First Reported Operator', 'Implied Wells Per Section',
       'Landing Zone ID', 'Latest Reported Operator Change Date',
       'Liquid Injection Type', 'Parent Child Classification Spacing Unit',
       'Permit Number', 'Previous Reported Operator', 'Production Method',
       'Reported Well Status'],
      dtype='object')
Index(['Spacing Unit ID', 'Spacing Unit Name', 'Spacing Unit Segment',
       'Spacing Unit Sequence', 'Spacing Unit Size', 'Stimulation End Date',
       'Stimulation Start Date', 'Total Depth Date', 'Wells Per Landing Zone',
       'Zipper Frac Completion'],
      dtype='object')
Index(['Zones Per Spacing Unit', 'Completion Date Reporting Category',
       'Stimulation End Date Reporting Group',
       'Stimulation Start Date Reporting Group',
       'Estimated Well Gas Hyperbolic Factor',
       'Estimated Well Oil Hyperbolic Factor',
       'Estimated Well Gas Initial Decline',
       'Estimated Well Oil Initial Decline',
       'Estimated Well Gas Peak Production',
       'Estimated Well Oil Peak Production'],
      dtype='object')
Index(['Frac Spread Latest Location', 'Gun Barrel View Offset',
       'HH Gas Breakeven Full Cycle', 'HH Gas Breakeven Go Forward',
       'Horizontal Spacing', 'HorsepowerHours', 'Injection Zone Bottom',
       'Injection Zone Top', 'IRR Wellhead', 'IRR'],
      dtype='object')
Index(['Max Authorized Injection Pressure',
       'Max Authorized Liquid Injection Rate', 'NPV Wellhead', 'NPV',
       'Rigs Latest Location', 'Stimulation Days', 'Vertical Spacing Lower',
       'Vertical Spacing Upper', 'WTI Breakeven Full Cycle',
       'WTI Breakeven Go Forward'],
      dtype='object')
Index(['Fracturing Liquid Volume', 'Open Hole Completion',
       'Original Formation', 'Target Formation Source',
       'Target Formation Source Confidence', 'Contact Address', 'Contact City',
       'Contact State', 'Contact Zip Code', 'Last Irregularity Year - Month'],
      dtype='object')
Index(['Mesh Size Confidence', 'Mesh Size Detail', 'Sand Type Confidence',
       'Sand Type Detail', 'Average API Gravity', 'Distance Closest Well 2D',
       'Distance Closest Well 3D', 'Drilling Days Sum',
       'End Frac to Production Time', 'Fluid per Foot'],
      dtype='object')
Index(['FracStageCount', 'Fracturing Liquid Volume Sum', 'HorizontalSpacing',
       'HorsepowerHours Sum', 'Irregularity Recovery Ratio',
       'MaxAuthorizedInjectionPressure', 'MaxAuthorizedLiquidInjectionRate',
       'Permit to Production Time', 'Permit to Spud Time',
       'Spud to Completion Time'],
      dtype='object')
Index(['Spud to Production Time', 'Spud to Start-Up Time', 'Spud to TD Time',
       'Start Frac to End Frac Time', 'Start Frac to Production Time',
       'String Bottom', 'String Cement Use', 'String Diameter Total',
       'String Top', 'TD to Production Time'],
      dtype='object')
Index(['TD to Start Frac Time', 'VerticalSpacingLower', 'VerticalSpacingUpper',
       'Lease Serial Number', 'Lease Agency Name', 'Lease Authorization Date',
       'Spud Date Reporting Category', 'Frac Fluid Model', 'Proppant Model',
       'Land Type Group'],
      dtype='object')
Index(['Land Type Category', 'Mineral Rights Type', 'Simul Frac Completion',
       'Wellhead Breakeven Oil Price', 'Wellhead Breakeven Gas Price', 'Id_y',
       'Year', 'Month', 'FlaredGas_MCf', 'GrossGasProduction_MCf'],
      dtype='object')

In [18]:
merged

NameError: name 'merged' is not defined

In [23]:


# Check for null values in the entire DataFrame
print(prodflaring.isnull().sum())

# Remove rows with null values
#df.dropna(inplace=True)

# Save the cleaned DataFrame to a new CSV file
#df.to_csv('cleaned_data.csv', index=False)

Id                            0
API Number                    0
Year                          0
Month                         0
FlaredGas_MCf             52062
GrossGasProduction_MCf        0
dtype: int64

In [ ]:


# Calculate the average for each column
column_averages = prodflaring.mean()

# Replace null values with the corresponding column's average
prodflaring.fillna(column_averages, inplace=True)

# Save the cleaned DataFrame to a new CSV file
#prodflaring.to_csv('cleaned_data.csv', index=False)

In [ ]:
print(prodflaring.isnull().sum())

In [ ]:
prodflaring.to_csv('prodflaring_cleaned_data.csv', index=False)

In [26]:
merged_df2 = pd.merge(wellheader, prodflaringcleaned, on='API Number', how='inner')

In [27]:
column_names = merged_df2.columns
print(column_names)

Index(['Id_x', 'API Number', 'Well Name', 'Texas District', 'Lease Name',
       'Lease Number', 'Number of Wells in Lease', 'Formation', 'Field',
       'Well Direction',
       ...
       'Land Type Category', 'Mineral Rights Type', 'Simul Frac Completion',
       'Wellhead Breakeven Oil Price', 'Wellhead Breakeven Gas Price', 'Id_y',
       'Year', 'Month', 'FlaredGas_MCf', 'GrossGasProduction_MCf'],
      dtype='object', length=230)

In [28]:
flaringfinal = pd.merge(merged_df2,operator,on='FK_NASOperator',how='inner')

In [21]:
# Assuming you have already created and populated the 'merged_df' DataFrame
column_names = flaringfinal.columns

# Split the column names into chunks of 10 for printing
chunk_size = 10
for i in range(0, len(column_names), chunk_size):
    chunk = column_names[i:i + chunk_size]
    print(chunk)

NameError: name 'flaringfinal' is not defined

In [22]:
print(flaringfinal.isnull().sum())

NameError: name 'flaringfinal' is not defined

In [33]:


# Group by the "Operator" column and sum the "FlaredGas_MCf"
operator_sum = flaringfinal.groupby('Operator')['FlaredGas_MCf'].sum()

# Sort the operators by the summed values in descending order
sorted_operators = operator_sum.sort_values(ascending=False)

# Select the top 5 operators
top_5_operators = sorted_operators.head(10)

print(top_5_operators)
top_5_operators.to_csv('q3.csv')

Operator
Oasis Petroleum          5.687417e+07
Hess                     3.936991e+07
ExxonMobil               3.642657e+07
ConocoPhillips           3.365403e+07
Continental Resources    2.509976e+07
Whiting Petroleum        2.130784e+07
Enerplus Corporation     1.547795e+07
Ovintiv                  1.360296e+07
Petro-Hunt LLC           1.263839e+07
Marathon Oil             9.637691e+06
Name: FlaredGas_MCf, dtype: float64

In [61]:
merged_operator_name = pd.merge(wellheader, operator, on='FK_NASOperator', how='inner')

In [62]:
merged_operator_name.to_csv('operatorName.csv', index=False)

In [4]:
merged_chemprod = pd.merge(chemicals,production,on='API Number', how='inner')

MemoryError: Unable to allocate 30.5 MiB for an array with shape (5, 800004) and data type int64